.chart {
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 15rem;
  width: 80%;
  margin: 20px auto;
}

.label {
  height: 15rem;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label p {
  margin: 0px;
  font-size: 10px;
}
