.card {
  width: 21.2%;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
}

.card h4 {
  margin: 0px;
  font-weight: 100;
}

.card p {
  margin: 8px 0px;
  font-size: 12px;
  color: #b8b8b8;
}

.card dt i {
  margin: 0px;
  font-size: 25px;
}

.card .i {
  color: #018e42;
}

.card dt {
  font-weight: 700;
  vertical-align: middle;
}

.card dd {
  margin-left: 22px;
  font-size: 11px;
  color: #b8b8b8;
}

.card .dt_i {
  color: #0d62ff;
}
